{{#partial 'head'}}
<script>
  window.addEventListener('DOMContentLoaded', () => {
    // Get the unordered list by its id
    var list = document.getElementById('tag-removal');

    // Check if any of the list items contain an <a> tag with href equal to "/blog/tag/Projects"
    var hasProjects = Array.from(list.children).some(function (child) {
      var anchor = child.querySelector('a');
      return anchor && anchor.getAttribute('href') === '/blog/tag/Projects';
    });

    if (!hasProjects) {
      let date = document.getElementById('date');
      date.style.opacity = 1;
    }
  });
</script>
{{/partial}} {{#partial "page"}} {{> components/mavens/blog-post post=blog.post
show_tags=true is_blog_post=true show_date=false}} {{/partial}} {{>
layout/base}}
