---
blog:
  recent_posts:
    limit: 8
  posts:
    limit: 5
    pages: 3
    summary: 500
---

{{#partial "head"}}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var header = document.getElementById('blog-header');
    // Get the referrer URL
    if (window.location.pathname.includes('/projects')) {
      // The path '/projects' exists in the referrer URL
      header.innerHTML = 'Projects';
    } else {
      // The path '/projects' does not exist in the referrer URL
      header.innerHTML = 'Recent News';
    }

    // get path to current page
    var path = window.location.pathname;
    // if path includes projects, set element with class id to hidden
    if (path.includes('projects')) {
      // document.getElementById('date').style.display = 'none';
      let arr = Array.from(document.getElementsByClassName('date'));
      arr.forEach((element) => {
        element.style.display = 'none';
      });
    }
  });
</script>
{{/partial}} {{#partial "page"}}

<section>
  <div class="mavens__max__width__container">
    <h1 id="blog-header" class="blog-page-header"></h1>
  </div>
  <div style="background-color: white; padding: 12px 0px">
    <div class="mavens__max__width__container">
      <div class="mavens-blog-list-container">
        {{#each blog.posts}} {{> components/mavens/blog-post-card post=this
        theme_settings=../theme_settings}} {{/each}}
      </div>
    </div>
    <div class="mavens__max__width__container">
      <div class="mavens-pagination">
        {{#if pagination.blog.previous}}
        <a rel="prev" href="{{pagination.blog.previous}}">
          <span
            ><svg class="left">
              <use xlink:href="#icon-mavens-arrow-right"></use></svg></span
          >Previous</a
        >
        {{/if}} {{#if pagination.blog.next}}
        <a rel="next" href="{{pagination.blog.next}}"
          >Next
          <span>
            <svg class="right">
              <use xlink:href="#icon-mavens-arrow-right"></use>
            </svg> </span
        ></a>
        {{/if}}
      </div>
    </div>
  </div>
</section>

{{/partial}} {{> layout/base}}
