---
blog:
  recent_posts:
    limit: 8
  posts:
    limit: 5
    pages: 3
    summary: 200
---

{{#partial "head"}}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var header = document.getElementById('blog-header');
    // Get the referrer URL
    if (window.location.pathname.includes('/projects')) {
      // The path '/projects' exists in the referrer URL
      header.innerHTML = 'Projects';
    } else {
      // The path '/projects' does not exist in the referrer URL
      header.innerHTML = 'Blog';
    }
  });
</script>
{{#if pagination.blog.previous}}
<link rel="prev" href="{{pagination.blog.previous}}" />
{{/if}} {{#if pagination.blog.next}}
<link rel="next" href="{{pagination.blog.next}}" />
{{/if}} {{/partial}} {{#partial "page"}}

<section>
  <div class="mavens__max__width__container">
    <h1 id="blog-header" class="blog-page-header"></h1>
  </div>
  <div style="background-color: white">
    <div class="mavens__max__width__container">
      <div class="mavens-blog-list-container">
        {{#each blog.posts}} {{> components/mavens/blog-post-card post=this
        theme_settings=../theme_settings}} {{/each}}
      </div>
    </div>
  </div>
</section>

{{/partial}} {{> layout/base}}
