<footer style="background-color: #00308c; padding: 120px 0px 120px 0px">
  <div class="mavens__max__width__container">
    <div class="mavens-footer-hero">
      <h1 class="mavens-footer-heading">Let's Start Something New Together</h1>
      <div class="mavens-footer-sub-row">
        <div class="mavens__footer__cta__hero">
          <div class="circle">
            <img
              src="https://cdn11.bigcommerce.com/s-lfrgstrp6l/images/stencil/original/image-manager/circle.png?t=1686746833&_gl=1*1vrlqjz*_ga*MTIzMzkxMDIzMy4xNjgzOTA4MTk5*_ga_WS2VZYPC6G*MTY4Njc0Njc3Mi45LjEuMTY4Njc0Njc4Mi41MC4wLjA."
              alt="Circle"
              class="circle-image"
            />
            <div class="reverse-wrapper">
              <img
                src="https://cdn11.bigcommerce.com/s-lfrgstrp6l/images/stencil/original/image-manager/text.png?t=1686746834&_gl=1*10v2md6*_ga*MTIzMzkxMDIzMy4xNjgzOTA4MTk5*_ga_WS2VZYPC6G*MTY4Njc0Njc3Mi45LjEuMTY4Njc0Njc4Mi41MC4wLjA."
                alt="Circular Text"
                class="circle-text-image"
              />
            </div>
            <img
              src="https://cdn11.bigcommerce.com/s-lfrgstrp6l/images/stencil/original/image-manager/arrow.png?t=1686746833&_gl=1*1vrlqjz*_ga*MTIzMzkxMDIzMy4xNjgzOTA4MTk5*_ga_WS2VZYPC6G*MTY4Njc0Njc3Mi45LjEuMTY4Njc0Njc4Mi41MC4wLjA."
              alt="Circular Text"
              class="arrow-icon"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mavens__max__width__container">
    <div class="mavens-footer-nav">
      <div class="mavens-link-container">
        <ul>
          {{#each pages}}
          <li class="mavens-nav-item">
            <a href="{{url}}" aria-label="{{name}}">{{name}}</a>
          </li>
          {{/each}}
        </ul>
        <ul>
          <li class="mavens-nav-item">
            <a href="{{facebook}}" aria-label="Facebook">
              <svg class="mavens-footer-social-icon">
                <use xlink:href="#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="mavens-nav-item">
            <a href="{{instagram}}" aria-label="Instagram">
              <svg class="mavens-footer-social-icon">
                <use xlink:href="#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mavens-nav-item">
            <a href="{{linkedin}}" aria-label="linkedin">
              <svg class="mavens-footer-social-icon">
                <use xlink:href="#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="mavens-nav-item">
            <a href="{{twitter}}" aria-label="twitter">
              <svg class="mavens-footer-social-icon">
                <use xlink:href="#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="mavens-legal-text">
        <h4 id="copyright">© MAVENS, All rights reserved.</h4>
        <a href="/privacy-policy">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
