<footer style="background-color: #00308c">
  <div class="mavens__max__width__container">
    <div class="mavens-footer-hero">
      <span class="mavens-footer-heading">Work With Us</span>
      <div class="mavens-footer-sub-row">
        <p class="subtext">
          Learn more about our services, and allow our seasoned professionals to
          assist you with your milestone inspection and other engineering needs.
        </p>
        <a href="/contact-us/">
          <div class="mavens__footer__cta__hero">
            <div class="circle">
              <img
                src="https://cdn11.bigcommerce.com/s-lfrgstrp6l/images/stencil/original/image-manager/circle.png?t=1686746833&_gl=1*1vrlqjz*_ga*MTIzMzkxMDIzMy4xNjgzOTA4MTk5*_ga_WS2VZYPC6G*MTY4Njc0Njc3Mi45LjEuMTY4Njc0Njc4Mi41MC4wLjA."
                alt="Circle"
                class="circle-image"
              />
              <div class="reverse-wrapper">
                <img
                  src="https://cdn11.bigcommerce.com/s-lfrgstrp6l/images/stencil/original/image-manager/text.png?t=1686746834&_gl=1*10v2md6*_ga*MTIzMzkxMDIzMy4xNjgzOTA4MTk5*_ga_WS2VZYPC6G*MTY4Njc0Njc3Mi45LjEuMTY4Njc0Njc4Mi41MC4wLjA."
                  alt="Circular Text"
                  class="circle-text-image"
                />
              </div>
              <img
                src="https://cdn11.bigcommerce.com/s-lfrgstrp6l/images/stencil/original/image-manager/arrow.png?t=1686746833&_gl=1*1vrlqjz*_ga*MTIzMzkxMDIzMy4xNjgzOTA4MTk5*_ga_WS2VZYPC6G*MTY4Njc0Njc3Mi45LjEuMTY4Njc0Njc4Mi41MC4wLjA."
                alt="Circular Text"
                class="arrow-icon"
              />
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="mavens__max__width__container">
    <div class="mavens-footer-nav">
      <div class="mavens-link-container">
        <ul>
          {{#each pages}}
          <li class="mavens-nav-item">
            <a href="{{url}}" aria-label="{{name}}">{{name}}</a>
          </li>
          {{/each}}
        </ul>
        <ul>
          <li class="mavens-nav-item">
            <a
              href="https://www.facebook.com/buildingmavens/"
              aria-label="Facebook"
            >
              <svg class="mavens-footer-social-icon">
                <use xlink:href="#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="mavens-nav-item">
            <a
              href="https://www.instagram.com/buildingmavens/"
              aria-label="Instagram"
            >
              <svg class="mavens-footer-social-icon">
                <use xlink:href="#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mavens-nav-item">
            <a
              href="https://www.linkedin.com/company/building-mavens/"
              aria-label="linkedin"
            >
              <svg class="mavens-footer-social-icon">
                <use xlink:href="#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="mavens-nav-item">
            <a href="https://twitter.com/buildingmavens" aria-label="twitter">
              <svg class="mavens-footer-social-icon">
                <use xlink:href="#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="mavens-bottom-footer-text">
        <div class="left">
          <h4 id="copyright">© MAVENS, All rights reserved.</h4>
          <a href="/privacy-policy">Privacy Policy</a>
        </div>
        <div class="right">
          <a href="https://maps.google.com/?q=2000 PGA Blvd. Suite 4440,Palm Beach Gardens, FL 33408">
            2000 PGA Blvd. Suite 4440<br/>
            Palm Beach Gardens, FL 33408<br />
          </a>
          <a href="mailto:info@buildingmavens.com" target="_blank">info@buildingmavens.com</a> <br/>
          <a href="tel:5614946425" target="_blank">+1 561 494 6425</a>
        </div>
      </div>
    </div>
  </div>
</footer>
