<nav class="navPages">
  <div class="mavens-mobile-nav">
    <ul class="mavens-mobile-nav-items">
      <li>
        <a class="mavens-mobile-nav-item" href="/" aria-label="home"
          >Home
          <svg class="menu-icon">
            <use xlink:href="#icon-mavens-arrow-right" />
          </svg>
        </a>
      </li>
      {{#each pages}}
      <li>
        <a class="mavens-mobile-nav-item" href="{{url}}" aria-label="{{name}}"
          >{{name}}
          <svg class="menu-icon">
            <use xlink:href="#icon-mavens-arrow-right" />
          </svg>
        </a>
      </li>
      {{/each}}
    </ul>
    <ul class="social-icon-list">
      <li class="mavens-nav-item">
        <a
          href="https://www.facebook.com/buildingmavens/"
          aria-label="Facebook"
        >
          <svg class="social-icon">
            <use xlink:href="#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="mavens-nav-item">
        <a
          href="https://www.instagram.com/buildingmavens/"
          aria-label="Instagram"
        >
          <svg class="social-icon">
            <use xlink:href="#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mavens-nav-item">
        <a
          href="https://www.linkedin.com/company/building-mavens/"
          aria-label="linkedin"
        >
          <svg class="social-icon">
            <use xlink:href="#icon-linkedin"></use>
          </svg>
        </a>
      </li>
      <li class="mavens-nav-item">
        <a href="https://twitter.com/buildingmavens" aria-label="twitter">
          <svg class="social-icon">
            <use xlink:href="#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</nav>
