.mavens-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
  margin: 0px 80px;

  .mavens-nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin: 0;
    list-style: none;

    .mavens-nav-item {
      font-size: 18px;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  @media (max-width: 800px) {
    justify-content: center;
    padding: 0px;
    height: 55px;

    .mavens-nav-items {
      display: none;
    }
  }
}
