.mavens__split__image {
  background: linear-gradient(to bottom, #00308c 50%, white 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 31px 0px 0px 0px;
  img {
    padding: 0 20px;
  }
  @media (min-width: $breakpoint-md) {
    justify-content: flex-end;
    padding-right: 80px;
  }
}

.mavens__meet__the__team__section {
  padding: 47px 0px;

  .name,
  .team-title {
    color: white;
    font-size: 48px;
  }

  .temp_team_member_container {
    padding-top: 43px;
    .temp_team_member_card {
      justify-content: space-between;
      h1,
      h2,
      p {
        margin: 0;
        line-height: 1;
        color: white;
      }
      .title {
        margin-bottom: 8px;
        font-size: 24px;
      }
      display: flex;
      .headshot {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 600px;
        overflow: hidden;
        object-fit: cover;
        margin-right: 40px;
        img {
          flex-grow: 0;
          width: 600px;
          margin-bottom: 8px;
        }
        .links {
          margin-top: 20px;
          margin-left: 0;
          display: flex;
          width: 100%;
          gap: 20px;
          list-style: none;
          svg {
            height: 25px;
            width: 25px;
            fill: white;
          }
        }
      }
      .info {
        .subtext {
          font-size: 1.2em;
          margin-bottom: 10px;
        }
        .about-paragraph {
          font-size: 1.4em;
          line-height: normal;
        }
        .certifications {
          font-size: 1.2em;
          margin-bottom: 8px;
          // display list items in one line
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }
    }
    @media (max-width: $breakpoint-lg) {
      flex-direction: row;
      justify-content: center;
      .temp_team_member_card {
        flex-direction: column;
        justify-content: center;
        .headshot {
          max-width: 100%;
          margin-right: 0px;
        }
        .info {
          flex-basis: 100%;
        }
      }
    }
  }

  .team_member_container {
    padding-top: 43px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;

    .team__member__card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .name {
        font-size: 32px;
        margin-bottom: 10px;
        margin-top: 20px;
        text-transform: capitalize;
      }

      .position {
        font-size: 18px;
        color: #a0a0a0;
        text-transform: uppercase;
      }

      .socials {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .social__icon {
          margin-right: 20px;
          cursor: pointer;
          height: 24px;
          width: 24px;
          fill: white;
        }
      }
    }

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
