$breakpoint-xs: 320px; // Extra small devices
$breakpoint-sm: 576px; // Small devices
$breakpoint-md: 768px; // Medium devices
$breakpoint-lg: 992px; // Large devices
$breakpoint-xl: 1200px; // Extra large devices
$max-width: 1440px;

@function rotate-icon($angle) {
  $angle: $angle + 20deg;
  @return rotate($angle);
}

@keyframes rotate-animation {
  100% {
    transform: rotate-icon(25deg);
  }
}

@keyframes rotateCTAClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateCTACounterClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* Hero Component Styles */
.mavens__base {
  color: white;
}

.mavens__max__width__container {
  padding: 0px 30px;
}

.mavens__hero__image {
  margin-top: 3em;
  background-image: url('https://picsum.photos/1920/860');
  min-height: 860px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.parent {
  background: white;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto min-content auto;
  grid-column-gap: 0px;
  grid-row-gap: 40px;
}

.div1 {
  flex-direction: column;
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  width: 100%;
  h3 {
    font-size: 3em;
  }
  h4 {
    font-size: 1.5em;
  }
}

.div2 {
  grid-area: 2 / 1 / 3 / 2;
}

.div3 {
  grid-area: 3 / 1 / 4 / 2;
}
.div4 {
  grid-area: 4 / 1 / 5 / 2;
}

.mavens__blog__section {
  padding: 80px 0px 0px 0px;
  h3 {
    margin-bottom: 2.28rem;
    font-size: 48px;
    color: white;
  }
  @media (min-width: $breakpoint-md) {
    padding: 140px 0px;
    h3 {
      font-size: 64px;
    }
  }

  .mavens__blog__container {
    display: flex;
    flex-direction: column;
    &:last-child .mav {
      padding-bottom: 80px;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    .mavens__blog__card {
      border-top: 1px solid #d1cac7;
      padding-top: 48px;
      padding-bottom: 48px;
      display: flex;
      flex-direction: column;

      @media (min-width: $breakpoint-md) {
        flex-direction: row;
        align-items: flex-start;
        h4 {
          margin: 0;
          line-height: 1;
        }

        img {
          min-width: 509px;
        }
        .mavens__blog__title__container {
          margin-left: 100px;

          .mavens__blog__title {
            margin-bottom: 20px;
          }
        }
      }

      img {
        flex-grow: 0;
      }

      .mavens__blog__title__container {
        display: flex;
        flex-direction: column;

        .mavens__blog__title {
          flex: 1;
          color: white;
          font-size: 32px;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .mavens__blog__info {
        display: flex;
        font-size: 16px;
        flex-wrap: wrap;
        flex-grow: 1;
        .category {
          color: #cec0a4;
          text-transform: uppercase;
          margin-right: 22px;
        }
      }
    }
  }
}
