.blog-page-header {
  font-size: 48px;
  color: white;
  font-weight: 500;
  margin: 0;
  padding: 58px 0px;
}

.mavens-pagination {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  a {
    color: #00308c;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    padding: 4px 12px;
    border-radius: 40px;
    border: solid 1px #00308c;
    span svg,
    use {
      height: 2em;
      width: 2em;
    }

    span svg {
      display: flex;
      align-items: center;
      justify-content: center;

      &.right {
        rotate: 45deg;
      }

      &.left {
        rotate: 225deg;
      }
    }
  }
}

.mavens-blog-list-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .mavens-blog-card {
    overflow: hidden;
    background-color: white;
    img {
      width: 334px;
      height: 400px;
    }

    .blog-arrow-icon {
      display: none;
      color: #00308c;
    }
    .mavens-blog-title {
      font-size: 32px;
      text-decoration: none;
      text-align: left;
      display: flex;
      align-items: center;
      flex-grow: 1;
      justify-content: space-between;
    }

    .mavens-blog-details {
      background-color: white;
      header {
        background-color: white;
      }
      h2 {
        margin: 0;
      }
    }

    .mavens-blog-subtext {
      font-size: 16px;
      color: #717171;
    }

    .mavens-blog-thumbnail {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        object-fit: cover !important;
      }
    }

    .mavens-blog-date {
      margin: 0;
      font-size: 20px;
      color: #717171;
    }

    .mavens-date-tags {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }

    .mavens-tag-list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      gap: 8px;

      .mavens-tag-list-item {
        a {
          text-decoration: none;
          color: #b58f47;
        }
        flex: 0;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        white-space: nowrap;
        padding: 2px 14px;
        border-radius: 40px;
        background-color: #eee;
        flex-grow: 0;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.8px;
      }
    }
  }
  @media (min-width: $breakpoint-lg) {
    .mavens-blog-card {
      display: flex;
      height: 100%;
      .mavens-blog-thumbnail {
        margin-right: 50px;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
      }
      img {
        // width: 509px !important;
        height: 360px !important;
      }

      .mavens-blog-details {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
      }

      .mavens-tag-list {
        margin-top: 0px;
      }

      .mavens-date-tags {
        margin-top: auto;
        padding-bottom: 40px;
        flex-direction: row;
      }

      .blog-arrow-icon {
        display: inline;
        max-width: 50px;
        max-height: 50px;
      }
    }
  }
}
